.first , #second,#third{
    margin: 25px;
    border: 2px solid black;
    height: 700px; ;
    width: 500px;
    display: inline-block;
   vertical-align: top;
}
div img{
height: 450px;
width: 480px;
padding: 9px;
}
div:hover{
    transform: scale(1.1);
}
#third{
    height: 750px;
}