* {
  margin: 0;
  padding: 0;
 background-color:black;
}
h1{
    color: aliceblue;
}
.instagram{
    height: 100vh;
    width: 100%;
}
.left_bar{

width: 20%;
height: 100vh;
background-color: red;

}

