body{
    background-color: aqua;
    padding: 25px;
    padding-left: 100px;
}
.container{
    padding-top: 20;
    padding-left: 15;
    background-color: black;
    margin-right: 250px;
    margin: bottom 25px;;
    height: 315;
    width: 100;
   border-radius: 50px;
}
#red{
    height: 90px;
    width: 90px;
    background-color:red;
    border-radius: 50%;
}
#yellow{
    margin-top: 10;
    height: 90px;
    width: 90px;
    background-color: rgb(237, 213, 31);
    border-radius: 50%;
}
#green{
    margin-top: 10;
    height: 90px;
    width: 90px;
    background-color: rgb(99, 186, 12);
    border-radius: 50%;

}
#danda{
    margin-left:28 ;
    margin-top: 20;
    height: 200px;
    width: 30;
    background-color: black;
}
#stair{
    margin-left:;
    height: 20px;
    width: 85;
    background-color: black;
}
#longs{
     padding-left;
    height: 20px;
    width: 85;
    background-color: black;
}